
.containerG{
    display: grid;
    justify-content: center;
    gap: 50px;
    padding-right: 60px;
}

@media(min-width:375px){
  
    
    .containerG{
        margin-left: 100px;
        padding-bottom: 30px;
        padding-top: 30px;
        display: grid;
        justify-content: center;
        align-items: center;
    }
.col{  
   
    padding: 5px 5px 5px 5px;
  
}
    
}
@media (min-width:768px){
   .containerG{
    margin: 30px 30px 30px 30px;
   }
}

@media(min-width:1024px){

}