
*{
    padding: 0%;
    margin: 0%;
}

body{ background-color: #E5E8E8;}

.logo{
    display: grid;
    justify-content: center;
     background-color: white;
     margin: 0%;
     padding-top: 20px;
     padding-bottom: 20px;
   
}

footer{
    justify-content: center;
    display: grid;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

@media(min-width:375px){
    footer{
        justify-content: center;
        display: grid;
        background-color: white;
        padding-top: 20px;
        padding-bottom: 20px;
       
    }

}
@media (min-width:768px){
   
    footer{
        justify-content: center;
        display: grid;
        background-color: white;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
@media(min-width:1024px){

    footer{
        justify-content: center;
        display: grid;
        background-color: white;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}