.mainS{
    display: grid;
    justify-content: center;

}
.h1S{ 
    display: flex;
    justify-content: center;
    font: {
    family:'Poppins', sans-serif;
    size: 20px;
          }
    background-color: white;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    margin-top: 10px;
}

.pServ{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    
    font: {
    family:'Poppins', sans-serif;
    size: 20px;
          }
    background-color: white;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
}
.cuerpoServicios{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px 30px; 
    grid-template-areas: 
    "card1 card2 card3"; 
    font-family: 'Poppins', sans-serif;
}

.card1{ grid-area: card1;
background-color: white;
border-radius: 20px;
height: 800px;
width: 200px;

    &:hover {
    transform: translateY(20px);
    transition:all 1s ease-in;

    }
}

.card2{ grid-area: card2;
    background-color: white;
    border-radius: 20px;
    height: 600px;
    width: 200px;

    &:hover {
        transform: translateY(20px);
        transition:all 1s ease-in;
    }
}

.card3{ grid-area: card3;
    background-color: white;
    border-radius: 20px;
    height: 600px;
    width: 200px;

    &:hover{
        transform: translateY(20px);
        transition:all 1s ease-in;
    }
}


.h2S{
    width: 400;

}
.h4S{
    width: 300;
}



@media(min-width:375px){
 
    .h1S{
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .pServ{
        margin-bottom: 50px;
    }
    .cuerpoServicios{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr ;
        gap: 30px 10px; 
        grid-template-areas: 
          "card1"
          "card2"
          "card3"; 
         padding-top: 30px;
         padding-bottom: 30px;
         justify-items: center;
         
    }
    
    .card1{ grid-area: card1;
    background-color: white;
    height: 500px;}
    .card2{ grid-area: card2;
    background-color: white;
    height: 450px;}
    .card3{ grid-area: card3;
    background-color: white;
    height: 450px;}
    
}     
@media (min-width:768px){
 
    .cuerpoServicios{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr ;
        gap: 30px 5px; 
        grid-template-areas: 
          "card1"
          "card2"
          "card3"; 
         justify-items: center;
    }
    
    .card1{ grid-area: card1;
    background-color: white;
    height: 530px;}
    .card2{ grid-area: card2;
    background-color: white;
    height: 500px;}
    .card3{ grid-area: card3;
    background-color: white;
    height: 500px;}
     
}
@media(min-width:1024px){

        .cuerpoServicios{
           display: grid;
           grid-template-columns: 1fr 1fr;
           grid-template-rows: 1fr ;
           gap: 0px 5px; 
           grid-template-areas: 
             "card1 card2 card3"; 
            padding: 30px 20px 30px 20px;
            
       }
       
       .card1{ grid-area: card1;
       background-color: white;
       height: 520px;}
       .card2{ grid-area: card2;
       background-color: white;
       height: 520px;}
       .card3{ grid-area: card3;
       background-color: white;
       height: 520px;}
        
       
}