/* TIPOS DE FUENTES */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200&family=Oswald:wght@300&family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200&family=DM+Serif+Display&family=Oswald:wght@300&family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200&family=DM+Serif+Display&family=Oswald:wght@300&family=Poppins:wght@200&family=Source+Sans+Pro:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;400&family=DM+Serif+Display&family=Oswald:wght@300&family=Poppins:wght@200&family=Source+Sans+Pro:wght@600&family=Tiro+Tamil&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;400&family=DM+Serif+Display&family=Oswald:wght@300&family=Poppins:wght@200;300&family=Source+Sans+Pro:wght@600&family=Tiro+Tamil&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;400&family=DM+Serif+Display&family=Oswald:wght@300&family=Poppins:wght@200;300&family=Source+Sans+Pro:wght@600&family=Tiro+Tamil&family=Unna&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;400&family=DM+Serif+Display&family=Oswald:wght@300&family=Poppins:wght@200;300;400&family=Source+Sans+Pro:wght@600&family=Tiro+Tamil&family=Unna&display=swap");
* {
  padding: 0%;
  margin: 0%;
}

body {
  background-color: #E5E8E8;
}

.logo {
  display: grid;
  justify-content: center;
  background-color: white;
  margin: 0%;
  padding-top: 20px;
  padding-bottom: 20px;
}

footer {
  justify-content: center;
  display: grid;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

.sectionFooter {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 30px;
  grid-template-areas: "instagram whatsapp email";
  padding-top: 30px;
  padding-left: 30px;
}

.instagram {
  grid-area: instagram;
}

.whatsapp {
  grid-area: whatsapp;
}

.email {
  grid-area: email;
}

.sectionFooter a {
  transition: all 1s ease-in-out;
}
.sectionFooter a:hover {
  transform: scale(1.2);
}

@media (min-width: 375px) {
  footer {
    justify-content: center;
    display: grid;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media (min-width: 768px) {
  footer {
    justify-content: center;
    display: grid;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media (min-width: 1024px) {
  footer {
    justify-content: center;
    display: grid;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.containerG {
  display: grid;
  justify-content: center;
  gap: 50px;
  padding-right: 60px;
}

@media (min-width: 375px) {
  .containerG {
    margin-left: 100px;
    padding-bottom: 30px;
    padding-top: 30px;
    display: grid;
    justify-content: center;
    align-items: center;
  }
  .col {
    padding: 5px 5px 5px 5px;
  }
}
@media (min-width: 768px) {
  .containerG {
    margin: 30px 30px 30px 30px;
  }
}
.col2 {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

#hola {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  justify-content: center;
}

@media (min-width: 375px) {
  .col1 {
    display: grid;
    justify-content: center;
  }
  #hola {
    display: grid;
    justify-content: center;
    font-size: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .container {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media (min-width: 768px) {
  #hola {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .col2 {
    font-size: 20px;
  }
  .container {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media (min-width: 1024px) {
  .col2 {
    font-size: 25px;
  }
  #hola {
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.form {
  font-family: "Poppins", sans-serif;
  margin: 0px;
  padding: 30px 40px 122px 40px;
}

.mainS {
  display: grid;
  justify-content: center;
}

.h1S {
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  background-color: white;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  margin-top: 10px;
}

.pServ {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  background-color: white;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
}

.cuerpoServicios {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 10px 30px;
  grid-template-areas: "card1 card2 card3";
  font-family: "Poppins", sans-serif;
}

.card1 {
  grid-area: card1;
  background-color: white;
  border-radius: 20px;
  width: 200px;
  height: 700px;
}
.card1:hover {
  transform: translateY(20px);
  transition: all 1s ease-in;
}

.card2 {
  grid-area: card2;
  background-color: white;
  border-radius: 20px;
  height: 600px;
  width: 200px;
}
.card2:hover {
  transform: translateY(20px);
  transition: all 1s ease-in;
}

.card3 {
  grid-area: card3;
  background-color: white;
  border-radius: 20px;
  height: 600px;
  width: 200px;
}
.card3:hover {
  transform: translateY(20px);
  transition: all 1s ease-in;
}

.h2S {
  width: 400;
}

.h4S {
  width: 300;
}

@media (min-width: 375px) {
  .h1S {
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .pServ {
    margin-bottom: 50px;
  }
  .cuerpoServicios {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 30px 10px;
    grid-template-areas: "card1" "card2" "card3";
    padding-top: 30px;
    padding-bottom: 30px;
    justify-items: center;
  }
  .card1 {
    grid-area: card1;
    background-color: white;
    height: 500px;
  }
  .card2 {
    grid-area: card2;
    background-color: white;
    height: 450px;
  }
  .card3 {
    grid-area: card3;
    background-color: white;
    height: 450px;
  }
}
@media (min-width: 768px) {
  .cuerpoServicios {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 30px 5px;
    grid-template-areas: "card1" "card2" "card3";
    justify-items: center;
  }
  .card1 {
    grid-area: card1;
    background-color: white;
    height: 530px;
  }
  .card2 {
    grid-area: card2;
    background-color: white;
    height: 500px;
  }
  .card3 {
    grid-area: card3;
    background-color: white;
    height: 500px;
  }
}
@media (min-width: 1024px) {
  .cuerpoServicios {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 5px;
    grid-template-areas: "card1 card2 card3";
    padding: 30px 20px 30px 20px;
  }
  .card1 {
    grid-area: card1;
    background-color: white;
    height: 570px;
  }
  .card2 {
    grid-area: card2;
    background-color: white;
    height: 570px;
  }
  .card3 {
    grid-area: card3;
    background-color: white;
    height: 570px;
  }
}
.subtitulo {
  font-family: "Poppins", sans-serif;
  display: grid;
  justify-content: center;
  padding: 30px 0px 10px 0px;
  font-size: 33px;
}

.h2Index {
  display: grid;
  justify-content: center;
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  padding-top: 50px;
}

.h3Index {
  display: grid;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  padding-bottom: 70px;
  font-size: 17px;
}

@media (min-width: 375px) {
  .logo {
    display: grid;
    justify-content: center;
    background-color: white;
    margin: 0%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .logoI {
    width: 300px;
  }
  .subtitulo {
    font-size: 20px;
  }
  .h2Index {
    font-size: 19px;
  }
  .contenedorDiv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 15px 10px;
  }
}
@media (min-width: 768px) {
  .subtitulo {
    font-size: 35px;
  }
  .logoI {
    width: 350px;
  }
  .contenedorDiv {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px 10px;
  }
}
@media (min-width: 1024px) {
  .subtitulo {
    font-size: 33px;
  }
}/*# sourceMappingURL=style.css.map */